.sass-cache
bundle.js
source/**/*.js
tests/bundle.js
tests/main.js
tests/specs/*.js
test/playsets/*
!test/playsets/README
css/*.css
css/*.css.map
join/index.html
.svelte-kit
node_modules

# Fiasco core assets
static/engine/*.json
static/bundled/core_*.json
